.flex{
    display: flex;
}

.items-center{
    align-items: center;
} 

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.semibold{
    font-weight: bolder;
}

.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}

.sec1{
    background-color: rgb(255, 253, 244);
}

.flex-wrap{
    flex-wrap: wrap;
}